
body{
  margin: 0;
  background-color: #447691;
  font-family: sans-serif;

}
header{
  width: 100%;
  position: fixed;
  top: 0;
  left:0;
  padding: 10px 25px;
  background-color: #fff;
  display: flex;
  flex-grow: 1;
  align-items: : center;
  border-bottom: solid 1px #447691;
}

header img{
  padding: 5px;
}
header .title{
  flex-grow: 1;
  color: #00839C;
  font-size: 24px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.content{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container{
  padding: 15px 25px;
  height: 100%;
  background-color: white;

}
.form-container .title{
  color: #00839C;
  padding-bottom: 10px;
  border-bottom: 2px solid #6CAEE0;
}
.form-container .input-container{
  padding: 25px 15px 0 15px;
}
input{
  color: #5f5f5f;
  box-sizing: border-box;
  width: 300px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
input#reduceBy{
  width: 55px;

}

select{
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  color: #5f5f5f;
  box-sizing: border-box;

  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
}
.form-container .input-container .question {
  color: #5f5f5f;
  margin-bottom: 5px;
}

button{
  border-radius: 2px;
  background-color: #6caee0;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
.results-container{
  display: none;
}

#results{
  display: none;
  padding: 0 25px;
  font-weight: lighter;
  color: white;
  text-align: center;
}
#results .day{
  padding: 10px;
  font-size: 24px;
}
#results .year{
  padding: 10px;
  font-size: 48px;
}
#results .life{
  padding: 10px;
  font-size: 96px;
}

.reduce-container{
  font-size: 24px;
  margin-top: 15px;
  /*margin-bottom: 90px;*/
}
