@font-face {
  font-family: Titillium;
  src: url("assets/font/Titillium-Regular.otf");
}
@font-face {
  font-family: TitilliumLight;
  src: url("assets/font/Titillium-Thin.otf");
}
@font-face {
  font-family: TitilliumBold;
  src: url("assets/font/Titillium-Bold.otf");
}
body {
  font-family: Titillium;
  background-color: #001b2e;
  margin: 0;
  color: #00839c;

}
header {
  object-fit: cover;
  max-height: 150px;
}
header img {
  width: 100%;
  object-fit: cover;
}
.header-text {
  display: flex;
  align-items: center;
}
.header-text .title {
  margin-left: 10%;
}
.header-text img {
  margin-left: 14%;
}
.content {
  display: flex;
}
.content .left-container {
  display: flex;
  justify-content: center;
  width: 20%;
}
.content .form-container {
  display: flex;
  flex-flow: column;
  padding: 0 0 0 50px;
}
.content .form-container img {
  width: 150px;
}
.content .form-container .title {
  margin-top: 100px;
  font-size: 16px;
  font-family: TitilliumLight;
  line-height: 30px;
}
.content .form-container .subtitle {
  font-size: 22px;
}
.content .form-container .input-container {
  margin: 10px 0;
}
.content .form-container .input-container .question {
  margin: 10px 0;
  color: #C1BFBF;
  font-size: 16px;
}
.content .form-container .input-container input {
  width: 56px;
  padding: 8px 10px;
  background-color: #C1BFBF;
  border: solid 1px #00839c;
  border-radius: 3px;
  color: #00839c;
  font-family: Titillium;
  font-size: 16px;
}
.content .form-container .input-container.row {
  display: flex;
}
.content .form-container .input-container.row .container.gender {
  display: flex
}
.content .form-container .input-container.row .container .gender {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 0 25px;
}
.content .form-container .input-container.row .container .gender .icon {
  cursor: pointer;
  width: 25px;
  height: 35px;
}
.content .form-container .input-container.row .container .gender .icon.female {
  background: url("assets/female_off.png") center no-repeat;
}
.content .form-container .input-container.row .container .gender .icon.female.active {
  background: url("assets/female_on.png") center no-repeat;
}
.content .form-container .input-container.row .container .gender .icon.male {
  background: url("assets/male_off.png") center no-repeat;
}
.content .form-container .input-container.row .container .gender .icon.male.active {
  background: url("assets/male_on.png") center no-repeat;
}
.content .form-container button {
  margin-top: 50px;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #00839c;
  font-family: Titillium;
  cursor: pointer;
  outline: none;
}

.reduce-container button {
  /*margin-top: 50px;*/
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #ff958c;
  font-family: Titillium;
  cursor: pointer;
  outline: none;
}

#results {
  flex-flow: column;
  display: none;
  /*text-align: left;*/
  font-size: 24px;
  align-items: flex-start;
}
#results span {
  color: #ff958c;
  font-size: 34px;
}
#results .day {
  margin-top: 100px;
  font-family: TitilliumLight;
  display: none;
}
#results span#day {
  font-family: TitilliumLight;
  display: none;
}
#results .row {
  display: flex;
  flex-flow: row;
  margin-top: 35px;
}
#results .year {
  margin-top: 100px;
  margin-right: 50px;
}
#results .life {
  font-family: TitilliumLight;
}
#results .year, #results .life {
  display: flex;
  flex-flow: column;
}
.reduce-container {
  width: 100%;
  display: none;
  flex-grow: 1;
  background-color: #0d283a;
  padding: 25px 0;
  font-size: 24px;
  font-family: TitilliumLight;
  position: absolute;
  left: 0;
  bottom: 100px;
}
.reduce-container input {
  width: 56px;
  padding: 5px;
  margin: 5px 0;
  background-color: #C1BFBF;
  border: solid 1px #00839c;
  border-radius: 3px;
  color: #00839c;
  font-family: Titillium;
  font-size: 16px;
}
.reduceBy-container{
  margin-left: 65px;
}
#savings{
  margin: 0 30px;
}

#savings span {
  color: #ff958c;
  font-size: 34px;
}

@media (max-width: 600px) {
.content .form-container{
    padding: 0 25px;
  }
  .content .form-container .title{
    margin-top: 50px;
  }
  .content .form-container button{
    margin-top: 25px !important;
  }

  .left-container {
    display: none !important;
  }

  .reduce-container{
    position: initial;
    flex-flow: column;
    bottom: 0;
    bottom: 50px;
  }
  .reduceBy-container{
    margin-left: 30px;
  }
  .reduce-container button {
    display: block;
    text-align: left;
    margin: 0 30px;

  }
}