html {
  background: url(assets/photo_bg.jpg);
  background-repeat:no-repeat;
  background-size:100%;
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  overflow-y: hidden;
}
body{

  margin: 0;
  font-family: sans-serif;

}
header{
  width: 100%;
  margin-top: 75px;
  left:0;
  padding: 10px 25px;
  display: flex;
  flex-grow: 1;


}


header img{
  padding: 5px;
  width: 147px;
  height: 84px;
}
header .title{
  /*flex-grow: 1;*/
  margin-left: 150px;
  margin-right: 175px;
  color: #00839C;
  font-size: 18px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
}

.content{
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-container{
  padding: 15px 25px;
  height: 100%;
  background-color: white;
  border-radius: 4px;

}
.form-container .title{
  color: #00839C;
  padding-bottom: 10px;
  border-bottom: 2px solid #6CAEE0;
}
.form-container .input-container{
  padding: 25px 15px 0 15px;
}
input{
  color: #5f5f5f;
  box-sizing: border-box;
  width: 300px;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
}
input#reduceBy{
  width: 55px;

}

select{
  width: 300px;
  height: 40px;
  background-color: #ffffff;
  color: #5f5f5f;
  box-sizing: border-box;

  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 12px 18px;
  border: 1px solid #dbdbdb;
}
.form-container .input-container .question {
  color: #5f5f5f;
  margin-bottom: 5px;
}

button{
  border-radius: 2px;
  background-color: #6caee0;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
}
button:hover{
  opacity: 0.7;
}
button.restart{
  border-radius: 2px;
  background-color: #6caee0;
  color: #ffffff;
  font-weight: bold;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  padding: 14px 22px;
  border: 0;
  margin-top: 15px;
  cursor: pointer;
  max-width: 100px;
  display: none;
}
.results-container{
  display: none;
}

#results{
  flex-flow: column;
  display: none;
  padding: 0 25px;
  font-weight: lighter;
  color: white;
  text-align: center;
  justify-content: center;
}
#results .day{
  padding: 10px;
  font-size: 24px;
}
#results .year{
  padding: 10px;
  font-size: 48px;
}
#results .life{
  padding: 10px;
  font-size: 96px;
}
#results span{
  font-weight: bold;
}
.reduce-container{
  display: flex;
  flex-flow: column;
  font-size: 40px;
  margin-top: 15px;
  line-height:40px;
  align-items: center;
  /*margin-bottom: 90px;*/
}
.reduce-container .reduceBy-container{
  display: flex;
  justify-content: center;
}
.reduce-container .reduceBy-container input{
  height: 30px;
  margin: 0 10px;
}
.reduce-container #savings{
  line-height: 1.5;
  display: none;
}
.reduce-container #savings span{
  font-weight: bold;
}
